a {
  color: #22bce0;
}

body {
  background: #eeeeee;
  font-family: Arial;
  font-size: 16px;
}

footer {
  color: rgba(255,255,255,0.7);
  background: #22bce0;
  padding: 1em;
  text-align: center;
}

footer p:first-child {
  margin-bottom: 0;
}

footer p:last-child {
  margin-top: 0;
}

footer p:last-child:after {
  content: " -";
}

footer p:last-child:before {
  content: "- ";
}

header {
  background: #343b54;
  color: white;
  overflow: hidden;
  padding: 0.5em;
  position: relative;
}

header figure {
  float: left;
}

header h1 {
  font-size: 1.2em;
  font-weight: normal;
  margin: 0.2em 70px 0 0;
}

header #Avatar {
  margin: 0.5em 0.5em 0 0;
  position: absolute;
  right: 0;
  top: 0;
}

header #Avatar img {
  border-radius: 50%;
  width: 55px;
}

header #Logo img {
  border-right: 1px solid white;
  margin-right: 0.5em;
  padding-right: 0.5em;
  width: 52px;
}

nav {
  background: #80bca3;
  box-shadow: rgba(0,0,0,0.5) 0px 0px 10px;
  padding: 0 0.5em;
  position: relative;
}

nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul #PublicarNav {
  position: absolute;
  top: -0.3em;
  right: 0;
}

nav ul #PublicarNav a {
  background: #22bce0;
  border-radius: 5px;
  box-shadow: rgba(0,0,0,0.5) 5px 5px 20px;
  font-style: italic;
  padding: 0.8em 0.5em;
  text-decoration: none;
  text-shadow: rgba(0,0,0,0.5) 2px 2px 5px;
}

nav ul li {
  display: inline-block;
  margin: 0 1em 0 0;
}

nav ul li a {
  color: white;
  display: block;
  padding: 0.5em 0;
}

#Contenido {
  margin: 1em;
}

#Contenido .item {
  background: white;
  border-bottom: 3px solid #22bce0;
  margin-bottom: 3em;
  min-height: 128px;
  position: relative;
}

#Contenido .item .autor_item {
  color: #aaa;
}

#Contenido .item .datos_item {
  margin: 1em 1em 0 0;
  text-align: right;
}

#Contenido .item .datos_item .fecha_item {
  color: #aaa;
}

#Contenido .item .datos_item .tag_item {
  background: #f4502a;
  border-radius: 0.5em;
  color: white;
  float: left;
  display: inline-block;
  padding: 0.2em 0.5em;
  text-decoration: none;
}

#Contenido .item .img_item {
  float: left;
  margin: 0 1em 0 0;
}

#Contenido .item .img_item img {
  width: 96px;
}

#Contenido .item .titulo_item {
  font-size: 1.2em;
  font-style: italic;
  padding: 1em 1em 0 0;
}

#Contenido .item .titulo_item a {
  color: #444;
  text-decoration: none;
}

#Contenido .item .votacion_item {
  background: white;
  border-radius: 0 0 0.5em 0.5em;
  left: 1%;
  margin-top: 3px;
  padding: 0.2em 0.5em;
  position: absolute;
  top: 100%;
  width: 95%;
}

#Contenido .item .votacion_item .comentarios_item,
#Contenido .item .votacion_item .guardar_item {
  float: right;
}